/* Style global pour HTML et body */
html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #74ebd5, #acb6e5);
}

/* Conteneur principal */
.ContainerPrincipal {
    width: 100%;
    max-width: 1200px; /* Largeur maximale ajustée */
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
}

/* Style pour la liste de produits */
.produit-liste table {
    width: 100%;
    border-collapse: collapse;
}

.produit-liste th,
.produit-liste td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.produit-liste th {
    background-color: #f2f2f2;
}

/* Style pour les boutons */
.button-container {
    text-align: center;
    margin-top: 20px;
}

.return-button,
.creation-button,
.modifier-button,
.supprimer-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.return-button {
    background-color: #4CAF50;
    color: white;
}

.return-button:hover {
    background-color: #45a049;
}

.creation-button {
    background-color: #008CBA;
    color: white;
}

.creation-button:hover {
    background-color: #007bb5;
}

.modifier-button {
    background-color: #4CAF50;
    color: white;
}

.modifier-button:hover {
    background-color: #45a049;
}

.supprimer-button {
    background-color: #f44336;
    color: white;
}

.supprimer-button:hover {
    background-color: #d32f2f;
}
