/* Style global pour HTML et body */
html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #74ebd5, #acb6e5);
}

/* Conteneur principal */
.ContainerPrincipal {
    width: 100%;
    max-width: 1200px; /* Largeur maximale ajustée */
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
}

/* Style pour la liste de produits */
.produit-liste table {
    width: 100%;
    border-collapse: collapse;
}

.produit-liste th,
.produit-liste td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.produit-liste th {
    background-color: #f2f2f2;
}

/* Style pour les boutons */
.button-container {
    text-align: center;
    margin-top: 20px;
}

.return-button,
.modif-button,
.creation-button,
.detail-button,
.supprimer-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 5px;
}

.return-button:hover,
.modif-button:hover,
.creation-button:hover,
.detail-button:hover,
.supprimer-button:hover {
    background-color: #45a049;
}

.creation-button {
    background-color: #008CBA;
}

.creation-button:hover {
    background-color: #007bb5;
}

.modif-button {
    background-color: #4CAF50;
}

.modif-button:hover {
    background-color: #45a049;
}

.detail-button {
    background-color: #337ab7;
}

.detail-button:hover {
    background-color: #2e6da4;
}

.supprimer-button {
    background-color: #d9534f;
}

.supprimer-button:hover {
    background-color: #c9302c;
}
