/* Style global pour HTML et body */
body {
    height: 100%; /* La hauteur est de 100% pour couvrir toute la fenêtre */
    margin: 0; /* Enlève les marges par défaut */
    font-family: 'Arial', sans-serif; /* Police d'écriture */
    display: flex; /* Utilise Flexbox pour centrer les éléments */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    background: linear-gradient(135deg, #74ebd5, #acb6e5); /* Couleur de fond avec dégradé */
}

/* Conteneur principal du formulaire */
.ContainerPrincipal {
    width: 100%; /* Prend toute la largeur disponible */
    max-width: 400px; /* Largeur maximale */
    padding: 40px; /* Rembourrage interne */
    background: #ffffff; /* Fond blanc */
    border-radius: 10px; /* Bords arrondis */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); /* Ombre pour effet de carte */
    text-align: center; /* Centre le texte */
    margin-bottom: 20px; /* Espace en bas */
}

/* Style pour les champs de saisie (texte et mot de passe) */
.login-input,
.password-input {
    width: 100%; /* Prend toute la largeur du conteneur */
    padding: 12px; /* Rembourrage interne */
    margin-bottom: 10px; /* Marge en bas */
    border: 1px solid #ccc; /* Bord gris clair */
    border-radius: 5px; /* Bords arrondis */
    box-sizing: border-box; /* Inclut le rembourrage et les bordures dans la largeur totale */
    font-size: 16px; /* Taille de police */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transition pour la couleur de la bordure et l'ombre */
}

/* Style pour les conteneurs de boutons */
.button-container {
    margin-bottom: 20px; /* Espace en bas */
    display: flex; /* Utilise Flexbox pour la disposition */
    justify-content: space-between; /* Espace entre les éléments */
    align-items: center; /* Aligne les éléments au centre */
}

/* Style pour les boutons */
button {
    padding: 12px 20px; /* Rembourrage interne */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Bords arrondis */
    cursor: pointer; /* Curseur pointeur */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transition douce pour la couleur de fond et la transformation */
    margin: 10px 0; /* Marge en haut et en bas */
    box-sizing: border-box; /* Inclut le rembourrage et les bordures dans la largeur totale */
    font-size: 19px; /* Taille de police */
}

/* Style pour le bouton de connexion */
.login-button {
    background: #2aa72a; /* Couleur de fond verte */
    color: white; /* Texte blanc */
    width: 100%; /* Largeur complète */
}

.login-button:hover {
    background: #45a049; /* Couleur de fond verte plus foncée */
    transform: scale(1.05); /* Agrandit légèrement le bouton au survol */
}

/* Style pour le bouton de création de compte */
.creation-button {
    background: #008CBA; /* Couleur de fond bleue */
    color: white; /* Texte blanc */
    width: 100%; /* Largeur complète */
}

.creation-button:hover {
    background: #007bb5; /* Couleur de fond bleue plus foncée */
}

.error-message {
    color: red;
    margin-bottom: 20px;
}
